<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="p-5">
    <div class="container text-center">
        <h1 class="text-primary">Sample Webpage using EJS & Bootstrap</h1>
        <a href="card" class="btn btn-primary m-3">View Cards Page</a>
        <a href="table" class="btn btn-success m-3">View Table Page</a>

    </div>
    
</body>
</html>